<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="iosense-websocket.html">

<dom-module id="io-sense">
    <template>
        <iron-ajax id="ajax"
                   on-response="responseHandler"
                   on-error="errorHandler"
                   handle-as="json">
        </iron-ajax>
        <iosense-websocket id="ws" url="[[ws]]"></iosense-websocket>
    </template>

    <script>
        /**
         * `io-sense`
         * ioSense Web component managing interactions between a web app and ioSense.
         *
         * @customElement
         * @polymer
         * @demo
         */
        class IOSense extends Polymer.Element {
            static get is() {
                return 'io-sense';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    /**
                     * The token received after authentication
                     * with user/pass that can be used for later
                     * authentication.
                     */
                    token: {
                        type: String,
                        value: 'Bearer iosenseguesttoken',
                    },
                    /**
                     * The ioSense namespace we want to connect to.
                     */
                    namespace: {
                        type: String,
                        value: 'trial',
                    },
                    /**
                     * The ioSense API is stateless, but this attribute gives
                     * an indication whether we have valid token or not
                     * (are we ready to fire an authorized request).
                     */
                    connected: {
                        type: Boolean,
                        value: false,
                    },
                    /**
                     * Pending queries
                     */
                    pendingQueries: {
                        type: Object,
                        value: {},
                    },
                    /**
                     * settings
                     */
                    host: {
                        type: String,
                        value: 'iosense.tudelft.nl',
                    },
                    port: {
                        type: Number,
                        value: 443,
                    },
                    protocol: {
                        type: String,
                        value: 'https',
                    },
                    ws: {
                        type: String,
                        value: 'wss://iosense.tudelft.nl:8000',
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.queryCounter = 0;
                this.checkCredentials();
            }

            checkCredentials() {
                // Try to retrieve the access token and
                // the namespace from the local storage.
                let token = localStorage.getItem('token');
                let ns = localStorage.getItem('ns');
                if (token !== null && token !== undefined
                    && ns !== null && ns !== undefined) {
                    // Token and namespace in the local storage, try to login
                    this.login(token, ns);
                }
            }

            responseHandler(event, req) {
                const queryId = IOSense.getURLParameter(event.detail.url, 'q');
                if (queryId !== null) {
                    this.pendingQueries[queryId](req.__data.response);
                    delete this.pendingQueries[queryId];
                }
            }

            errorHandler(error, req) {
                if (req.request.__data.response !== null) {
                    if (req.request.__data.response.hasOwnProperty('error')) {
                        this.toastError(req.request.__data.response.error);
                    }
                } else {
                    this.toastError('Oops, something seems wrong ' +
                        'up there in the cloud :(.');
                }
                if (req.request.url.includes('/oauth/token/check')) {
                    localStorage.removeItem('token');
                    localStorage.removeItem('ns');
                    this.token = null;
                }
            }

            toastError(error) {
                document.querySelector('#app').showError(error.message);
            }

            signIn(username, password) {
                const user = {
                    username: username,
                    password: password,
                };
                this.__send('/login', 'POST',
                    false, user, 'application/json', true, (data) => {
                        if (data.hasOwnProperty('token_type')
                            && data.hasOwnProperty('access_token')) {
                            let type = data['token_type'].charAt(0).toUpperCase()
                                + data['token_type'].slice(1);
                            let token = type + ' ' + data['access_token'];
                            this.login(token, this.namespace);
                        }
                    });
            }

            iosenseURL() {
                return this.protocol + '://' + this.host + ':'
                    + this.port + '/' + this.namespace;
            }

            login(token, ns) {
                this.token = token;
                this.namespace = ns;
                let url = this.iosenseURL() + '/oauth/token/check';
                this.__send(url, 'GET',
                    true, null, 'application/json', false, (data) => {
                        if (data.success !== undefined && data.success) {
                            // The log in was successful, we store the token
                            // in the local storage for future request, then
                            // we update the screen with loggedIn()
                            localStorage.setItem('token', this.token);
                            localStorage.setItem('ns', this.namespace);
                            this.loggedIn();
                        }
                    });
            }

            registerUser(user, callback) {
                this.__send(this.iosenseURL() + '/users',
                    'POST', false, {user: user}, 'application/json', false, callback);
            }

            loggedIn() {
                // fire log in event
                this.connected = true;
                this.dispatchEvent(new CustomEvent('iosense-signed-in',
                    {bubbles: true, composed: true, detail: {signedIn: true}}));
            }

            signOut() {
                localStorage.removeItem('token');
                this.connected = false;
                this.token = null;
                this.dispatchEvent(new CustomEvent('iosense-signed-out',
                    {
                        bubbles: true,
                        composed: true,
                        detail: {signedOut: true},
                    }));
            }

            getDatapoints(dataStreamIds, startTS, period, callback) {
                const params = dataStreamIds + '/' + startTS + '/' + period;
                this.__send(this.iosenseURL() + '/datapoints/' + params,
                    'GET', true, null, 'application/json', false, callback);
            }

            getDataStreams(dataStreamIds, callback) {
                const params = dataStreamIds + '/last';
                this.__send(this.iosenseURL() + '/datastreams/' + params,
                    'GET', true, null, 'application/json', false, callback);
            }

            getDataStreamsInterval(dataStreamIds,
                                   startTS, horizon, interval, callback) {
                const params = dataStreamIds + '/interval/'
                    + startTS + '/' + horizon + '/' + interval;
                this.__send(this.iosenseURL() + '/datastreams/' + params,
                    'GET', true, null, 'application/json', false, callback);
            }

            getDataStreamsHistory(dataStreamIds,
                                  startTS, horizon, callback) {
                const params = dataStreamIds + '/history/'
                    + startTS + '/' + horizon;
                this.__send(this.iosenseURL() + '/datastreams/' + params,
                    'GET', true, null, 'application/json', false, callback);
            }

            getGlimpseOfDatapoints(dataStreamIds, callback) {
                const url = this.iosenseURL() + '/datapoints/' + dataStreamIds;
                this.__send(url, 'GET', true,
                    null, 'application/json', false, callback);
            }

            getUser(callback) {
                this.__send(this.iosenseURL() + '/users', 'GET', true,
                    null, 'application/json', false, callback);
            }

            updateUser(user, callback) {
                this.__send(this.iosenseURL() + '/users', 'PUT', true,
                    user, 'application/json', false, callback);
            }

            listThings(callback) {
                this.__send(this.iosenseURL() + '/things', 'GET', true,
                    null, 'application/json', false, callback);
            }

            getThing(thingId, callback) {
                this.__send(this.iosenseURL() + '/things/' + thingId, 'GET', true,
                    null, 'application/json', false, callback);
            }

            createThing(thing, app, password, callback) {
                let body = {thing: thing};
                if (app !== null && password !== null) {
                    body.app = app;
                    body.password = password;
                }
                this.__send(this.iosenseURL() + '/things', 'POST', true,
                    body, 'application/json', false, callback);
            }

            deleteThing(thingId, callback) {
                this.__send(this.iosenseURL() + '/things/' + thingId, 'DELETE', true,
                    null, 'application/json', false, callback);
            }

            createApp(app, callback) {
                let body = {app: app};
                this.__send(this.iosenseURL() + '/apps', 'POST', true,
                    body, 'application/json', false, callback);
            }

            listApps(callback) {
                this.__send(this.iosenseURL() + '/apps', 'GET', true,
                    null, 'application/json', false, callback);
            }

            getApp(appId, callback) {
                this.__send(this.iosenseURL() + '/apps/' + appId, 'GET', true,
                    null, 'application/json', false, callback);
            }

            deleteApp(appId, callback) {
                this.__send(this.iosenseURL() + '/apps/' + appId, 'DELETE', true,
                    null, 'application/json', false, callback);
            }

            updateDataStream(dataStream, callback) {
                this.__send(this.iosenseURL() + '/datastreams', 'PUT', true,
                    dataStream, 'application/json', false, callback);
            }

            listTypes(callback) {
                this.__send(this.iosenseURL() + '/datastreams/types', 'GET', false,
                    null, 'application/json', false, callback);
            }

            listAPIs(callback) {
                this.__send(this.protocol + '://' + this.host + ':'
                    + this.port + '/apis', 'GET', false,
                    null, 'application/json', false, callback);
            }

            createInteractions(interactions, callback) {
                this.__send(this.iosenseURL() + '/interactions', 'POST', true,
                    interactions, 'application/json', false, callback);
            }

            listInteractions(thingId, callback) {
                this.__send(this.iosenseURL() + '/interactions/' + thingId,
                    'GET', true, null, 'application/json', false, callback);
            }

            static getURLParameter(url, name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '='
                    + '([^&;]+?)(&|#|;|$)').exec(url)
                    || [null, ''])[1].replace(/\+/g, '%20')) || null;
            }


            /**
             * Web socket subscribe.
             * @param {DataStream[]} dataStreams
             * @param {Object} comp
             */
            subscribe(dataStreams, comp) {
                this.$.ws.subscribe(comp.getId(), dataStreams, comp);
            }

            /**
             * Web socket unsubscribe.
             * @param {DataStream[]} dataStreams
             * @param {Object} comp
             */
            unsubscribe(dataStreams, comp) {
                this.$.ws.unsubscribe(comp.getId(), dataStreams, comp);
            }

            __send(endpoint, method, requireToken, body,
                   contentType, requireNamespace, callback) {
                const ajax = this.$.ajax;
                ajax.method = method;
                ajax.contentType = contentType;
                if (body !== null) {
                    ajax.body = body;
                } else {
                    ajax.body = '';
                }
                if (requireToken) {
                    ajax.headers['Authorization'] = this.token + '_' + this.namespace;
                }
                this.queryCounter++;
                const queryId = this.queryCounter + '';
                this.pendingQueries[queryId] = callback;
                if (endpoint.startsWith('http')) {
                    ajax.url = endpoint + '?q=' + queryId;
                } else {
                    if (requireNamespace) {
                        ajax.url = '/' + this.namespace + endpoint + '?q=' + queryId;
                    } else {
                        ajax.url = endpoint + '?q=' + queryId;
                    }
                }
                ajax.generateRequest();
            }
        }

        window.customElements.define(IOSense.is, IOSense);
    </script>
</dom-module>
