<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="iosense-stream-list">
    <template>

        <style is="custom-style">
            .stream:hover {
                background-color: #EFEFEF;
            }
        </style>

        <template is="dom-repeat" items="[[things]]" as="thing">
            <h3>[[thing.name]]</h3>
            <template is="dom-repeat" items="[[thing.streams]]" as="stream">
                <div class="stream">
                    <paper-toggle-button
                            id="[[stream.id]]"
                            class="green"
                            on-tap="switchStream"
                            checked="[[stream.monitored]]"
                            style="right:10px;">
                        [[stream.name]]
                    </paper-toggle-button>
                </div>
            </template>
        </template>

    </template>

    <script>

        class IOSenseStreamList extends Polymer.Element {

            static get is() {
                return 'iosense-stream-list';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listInteractions(1, this.receiveThingList.bind(this));
            }

            receiveThingList(result) {
                console.log('thing list ' + JSON.stringify(result));
                this.things = [];
                for (let i = 0; i < result.things.length; i++) {
                    console.log('thing ' + JSON.stringify(result.things[i]));
                    this.iosense.getThing(result.things[i].id,
                        this.receiveThing.bind(this));
                }
            }

            receiveThing(result) {
                this.push('things', result.thing);
            }

            switchStream(event) {
                const stream = {
                    id: event.target.id,
                    monitored: !event.target.checked,
                };
                this.iosense.updateDataStream(stream,
                    this.acknowledgeUpdate.bind(this));
            }

            acknowledgeUpdate(result) {
                this.iosense.listThings(this.receiveThings.bind(this));
                this.app.showMessage(result.info);
            }

        }

        customElements.define(IOSenseStreamList.is, IOSenseStreamList);

    </script>
</dom-module>
