<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import"
      href="../../bower_components/range-datepicker/range-datepicker.html">
<link rel="import"
      href="../../bower_components/se-time-input/se-time-input.html">
<script src="https://d3js.org/d3.v4.min.js"></script>

<dom-module id="iosense-datapoint-barchart">
    <template>

        <style>
            .toolTip {
                position: absolute;
                display: none;
                width: 80px;
                top: 95px;
                background: none repeat scroll 0 0 #ffffff;
                border: 1px solid #6F257F;
                padding: 10px;
                text-align: center;
                z-index: 10;
            }

            .bar {
                fill: #37a3dc;
                shape-rendering: crispEdges;
            }

            .axis path, .axis line {
                fill: none;
                stroke: #000000;
                shape-rendering: crispEdges;
            }
        </style>

        <paper-card id="card"
                    alt="[[group.name]]"
                    class="white"
                    style="position: absolute;left:10px;right:10px;top:12px;bottom:15px">


            <div id="value"
                 style="font-weight: bold;font-size: 4em; position:absolute; bottom: 70px;right:10px;text-shadow: 3px 3px  8px grey;">
                <span>[[value]]</span>
                <span style="font-size: large;">[[stream.type.unit]]</span>
            </div>

            <!-- Container wrapping the svg of the entire chart -->
            <div id="chart"></div>

            <!-- Bottom Controls -->
            <div class="card-actions horizontal justified">
                [[name]]
            </div>
        </paper-card>

    </template>

    <script>

        class IOSenseDatapointBarchart extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint-barchart';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * Array of streams to show on this chart
                     */
                    streams: {
                        type: Array,
                        value: null,
                    },
                    /**
                     * The data to display, ready to be pushed into the chart
                     */
                    rowsToDraw: {
                        type: Array,
                        value: [],
                    },
                    /**
                     * UNIX timestamp of the last data point
                     */
                    lastTS: {
                        type: Number,
                        value: 0,
                    },
                    /**
                     * Last value of each stream
                     */
                    lastVal: {
                        type: Object,
                        value: {},
                    },
                    /**
                     * Minimum refreshing time (milliseconds).
                     * We can received data at any frequency, but we avoid refreshing
                     * the chart if the time between two data points is two short.
                     */
                    refreshFreq: {
                        type: Number,
                        value: 1000,
                    },
                    /**
                     * The window of time to show (in milliseconds).
                     * All data points older than this time frame are
                     * deleted.
                     */
                    timeWindow: {
                        type: Number,
                        value: 300000,
                    },

                    startTS: {
                        type: Number,
                        value: null,
                    },
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();

                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');

                const chart = this;
                window.addEventListener('resize', () => {
                    chart.initChart();
                    chart.drawChart();
                });
            }

            setStream(stream) {
              console.log('set stream ');
              console.log(stream);
                this.stream = stream;
                this.name = stream.name;
                this.horizon = 3600000*12;
                this.startTS = new Date().getTime() - this.horizon;
                this.interval = this.horizon / 6;
                this.iosense.getDataStreamsInterval([stream.id],
                    this.startTS, this.horizon, this.interval,
                    this.receiveDataStream.bind(this));
            }

            receiveDataStream(result) {
              console.log('receive data stream ');
              console.log(result);
                if (result.dataStreams !== undefined
                    && result.dataStreams.length > 0) {
                    this.stream = result.dataStreams[0];
                    this.name = this.stream.name;
                    this.initChart();
                    this.drawChart();
                    const dpArray = this.stream.dataPoints;
                    if (dpArray.length > 0) {
                        const value = dpArray[dpArray.length-1].value;
                        if (value < -1000000000 || value > 1000000000) {
                            this.value = format(value / 1000000000) + 'G';
                        } else if (value < -1000000 || value > 1000000) {
                            this.value = format(value / 1000000) + 'M';
                        } else if (value < -1000 || value > 1000) {
                            this.value = Math.round(value / 1000) + 'K';
                        } else {
                            this.value = format(value) + '';
                        }
                        this.unit = this.stream.type.unit;
                    }
                }
            }

            initChart() {
                this.$.chart.innerHTML = '';
                this.margin = {top: 20, right: 20, bottom: 30, left: 50};
                this.width = this.$.chart.clientWidth;
                this.height = 200;
                this.maxWidth = 900;

                this.svg = d3.select(this.$.chart).append('svg')
                    .attr('width', this.width)
                    .attr('height', this.height);
            }

            getStreamIds() {
                const streamIds = [];
                this.streams.forEach(function(stream) {
                    streamIds.push(stream.id);
                });
                return streamIds;
            }

            drawChart() {
              if (this.stream !== undefined) {
                this.$.chart.innerHTML = '';
                const data = this.stream.dataPoints;
                const margin = {top: 20, right: 20, bottom: 30, left: 80};
                const width = 360 - margin.left - margin.right;
                const height = 200 - margin.top - margin.bottom;

                data.forEach((d) => {
                    d.date = moment(d.timestamp).format('HH:mm');
                });

                const x = d3.scaleBand()
                    .range([0, width])
                    .padding(0.1);

                const y = d3.scaleLinear()
                    .range([height, 0]);

                const svg = d3.select(this.$.chart)
                    .append('svg')
                    .attr('width', width + margin.left + margin.right)
                    .attr('height', height + margin.top + margin.bottom)
                    .append('g')
                    .attr('transform', 'translate('
                        + margin.left + ',' + margin.top + ')');

                const tooltip = d3.select(this.$.chart)
                    .append('div')
                    .attr('class', 'toolTip');

                // format the data
                data.forEach((d) => {
                    d.value = +d.value;
                });

                const min = d3.min(data, (d) => {
                    return d.value;
                });
                const max = d3.max(data, (d) => {
                    return d.value;
                });
                y.domain([min-(max-min)/5, max]);
                x.domain(data.map((d) => {
                    return d.date;
                }));

                // append the rectangles for the bar chart
                svg.selectAll('.bar')
                    .data(data)
                    .enter().append('rect')
                    .attr('class', 'bar')
                    .attr('x', (d) => {
                        return x(d.date);
                    })
                    .attr('width', x.bandwidth())
                    .attr('y', (d) => {
                        return y(d.value);
                    })
                    .attr('height', function(d) {
                        return height - y(d.value);
                    })
                    .on('mousemove', function(d) {
                        tooltip
                            .style('left', d3.event.pageX - 50 + 'px')
                            .style('top', d3.event.pageY - 350 + 'px')
                            .style('display', 'inline-block')
                            .html((d.date) + '<br>'
                                + 'Value: ' + (d.value));
                    })
                    .on('mouseout', (d) => {
                        tooltip.style('display', 'none');
                    });

                // add the x Axis
                svg.append('g')
                    .attr('transform', 'translate(0,' + height + ')')
                    .call(d3.axisBottom(x).ticks(10));

                // add the y Axis
                svg.append('g')
                    .call(d3.axisLeft(y)
                        .ticks(5)
                        .tickFormat((d) => {
                            return d3.format('.3s')(d);
                        }));
              }
            }

            dpArrayToStreamMap(datapoints) {
                const streamMap = this.streamMap;
                for (let key in streamMap) {
                    if (streamMap.hasOwnProperty(key)) {
                        streamMap[key].datapoints = [];
                    }
                }
                datapoints.forEach((dp) => {
                    if (streamMap.hasOwnProperty(dp.streamId)) {
                        if (!streamMap[dp.streamId]
                                .hasOwnProperty('datapoints')) {
                            streamMap[dp.streamId].datapoints = [];
                        }
                        dp.date = new Date(dp.ts);
                        streamMap[dp.streamId].datapoints.push(dp);
                    }
                });
            }

            exportCSV(event) {
                let csv = 'UNIX Timestamp';
                this.streams.forEach(function(stream) {
                    csv += ',' + stream.name;
                });
                csv += '\n';
                this.datapointsToTable().forEach(function(row) {
                    csv += row[0].getTime();
                    for (let i = 1; i < row.length; i++) {
                        csv += ',' + row[i];
                    }
                    csv += '\n';
                });

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(csv));
                element.setAttribute('download', 'iosense_export.csv');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

            datapointsToTable() {
                let rows = [];
                let streams = this.streams;
                let lastTS = this.startTS;
                let currentRow = new Array(streams.length + 1);
                currentRow[0] = new Date(this.startTS);
                this.datapoints.forEach(function(dp) {
                    if (dp.ts > lastTS) {
                        let currentDate = new Date(dp.ts);
                        if (currentRow !== undefined) {
                            rows.push(currentRow);
                        }
                        currentRow = new Array(streams.length + 1);
                        currentRow[0] = currentDate;
                    }
                    for (let i = 0; i < streams.length; i++) {
                        if (streams[i].id === dp.streamId) {
                            currentRow[i + 1] = dp.val;
                        }
                    }
                    lastTS = dp.ts;
                });
                rows.push(currentRow);
                return rows;
            }

            expend(event) {
                let card = this.$.card;
                let currentSize = card.style.width;
                if (currentSize === '30%') {
                    card.style.width = '100%';
                    this.$.timeControl.style.display = 'block';
                    this.$.expend.icon = 'fullscreen-exit';
                } else {
                    card.style.width = '30%';
                    this.$.timeControl.style.display = 'none';
                    this.$.expend.icon = 'fullscreen';
                }
                this.width = this.$.chart.clientWidth;
                this.svg.attr('width', this.width);
                this.initChart();
                this.drawChart();
            }

            exportSVG(event) {
                let svg = this.$.chart.innerHTML;

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(svg));
                element.setAttribute('download', this.name + '.svg');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

        }

        function format(value) {
            if (value >= 100) {
                value = Math.round(value);
            } else if (value > 10) {
                value = Math.round(value*10)/10;
            }
            let val = value.toFixed(2);
            if (val.endsWith('.00')) {
                val = value.toFixed(0);
            } else if (val.endsWith('0')) {
                val = value.toFixed(1);
            }
            return val;
        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseDatapointBarchart.is,
            IOSenseDatapointBarchart);

    </script>
</dom-module>
