<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="iosense-user-login">

    <template>

        <style>
            paper-checkbox.green {
                padding: 2px 16px;
                width: 220px;
                text-align: left;
                font-size: 0.8em;

                --paper-checkbox-checked-color: var(--paper-green-500);
                --paper-checkbox-checked-ink-color: var(--paper-green-500);
                --paper-checkbox-unchecked-color: var(--paper-green-900);
                --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
                --paper-checkbox-label-color: var(--paper-green-500);
                --paper-checkbox-label-spacing: 0;
                --paper-checkbox-margin: 8px 16px 8px 0;
                --paper-checkbox-vertical-align: top;
            }

            paper-checkbox .subtitle {
                display: block;
                margin: 10px;
            }

            paper-button {
                width: 200px;
            }

            paper-button.green {
                background: var(--paper-green-500);
                color: white;
                display: block;
            }

            paper-button.blue {
                background: var(--paper-blue-500);
                color: white;
                display: block;
            }
        </style>

        <paper-input id="username" always-float-label label="My Username"
                     value=""
                     style="width: 300px;display: inline-block"></paper-input>
        <paper-input id="namespace" always-float-label label="My Cloud"
                     value=""
                     style="width: 300px;display: inline-block"></paper-input>
        <br>
        <paper-input id="password" always-float-label label="Password" value=""
                     type="password"
                     style="width: 300px;display: inline-block"></paper-input>
        <paper-input id="confirmPassword" always-float-label
                     label="ConfirmPassword" value="" type="password"
                     style="width: 300px;display: inline-block"></paper-input>
        <br>
        <paper-input id="email" always-float-label value="" label="Email"
                     style="width: 400px;display: inline-block"></paper-input>
        <br>

        <paper-button id="signInBt" class="green"
                      style="text-align: center;display: inline-block"
                      on-tap="signIn"
                      raised>Sign In
        </paper-button>

        <paper-button id="registerBt" class="blue"
                      style="text-align: center;display: none"
                      on-tap="register"
                      raised>Register
        </paper-button>

        <paper-checkbox id="dataDonationCheck" checked class="green"
                        style="display: inline-block">
            I donate my data for teaching and research.
        </paper-checkbox>

        <div style="margin-top: 5px;margin-left: 5px;font-size: 0.8em">
        <span id="signInToggle" style="cursor: pointer"
              on-tap="signInMode"
              raised>> Already an account, sign in
        </span>
            <span id="registerToggle" style="cursor: pointer"
                  on-tap="registerMode"
                  raised>> Not registered yet, create an account
        </span>
        </div>

    </template>

    <script>
        class IOSenseUserLogin extends Polymer.Element {

            static get is() {
                return 'iosense-user-login';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    iosense: {
                        type: Object,
                        value: null,
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.signInMode();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
            }

            register() {
                const username = this.$.username.value;
                const email = this.$.email.value;
                const password = this.$.password.value;
                if (username === '') {
                    this.app.showError('Please enter a username.');
                    return;
                }
                if (email === '') {
                    this.app.showError('Please enter an email address.');
                    return;
                }
                if (password === '') {
                    this.app.showError('Please enter a password.');
                    return;
                }
                if (password !== this.$.confirmPassword.value) {
                    this.app.showError('Your password confirmation' +
                        ' does not match your password.');
                    return;
                }

                const user = {
                    username: username,
                    password: password,
                    email: email,
                };

                this.iosense.registerUser(user,
                    this.acknowledgeCreate.bind(this));
            }

            acknowledgeCreate(result) {
                this.app.showMessage(result.info);
            }

            signIn() {
                const username = this.$.username.value;
                const password = this.$.password.value;
                if (username === '') {
                    this.app.showError('Please enter a username.');
                    return;
                }
                if (password === '') {
                    this.app.showError('Please enter a password.');
                    return;
                }
                this.iosense.signIn(username, password);
            }

            /**
             * Change the form to log in
             */
            signInMode() {
                this.$.signInBt.style.display = 'inline-block';
                this.$.registerBt.style.display = 'none';
                this.$.email.style.display = 'none';
                this.$.confirmPassword.style.display = 'none';
                this.$.dataDonationCheck.style.display = 'none';
                this.$.signInToggle.style.display = 'none';
                this.$.registerToggle.style.display = 'inline-block';
            }

            /**
             * Change the form to register
             */
            registerMode() {
                this.$.signInBt.style.display = 'none';
                this.$.registerBt.style.display = 'inline-block';
                this.$.email.style.display = 'inline-block';
                this.$.confirmPassword.style.display = 'inline-block';
                this.$.dataDonationCheck.style.display = 'inline-block';
                this.$.signInToggle.style.display = 'inline-block';
                this.$.registerToggle.style.display = 'none';
            }
        }

        // Register the io-sense element with the browser
        customElements.define(IOSenseUserLogin.is, IOSenseUserLogin);
    </script>

</dom-module>
