<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="iosense-datapoint">
    <template>

        <style is="custom-style">
            .big {
                --iron-icon-height: 48px;
                --iron-icon-width: 48px;
            }
        </style>

        <paper-card id="card"
                    alt="[[name]]"
                    class="white"
                    style="padding:5px;position: absolute;left:10px;right:10px;top:12px;bottom:15px">

            <!-- Container wrapping the svg of the entire chart -->
            <div id="value"
                 style="font-weight: bold;font-size: 4em;text-align: center;text-shadow: 3px 3px  8px grey;">
                <iron-icon icon="[[icon]]" class="big" style="color:#388e3c"></iron-icon>
                <br>
                <span>[[value]]</span>
                <span style="font-size: large;">[[stream.type.unit]]</span>
            </div>

            <div class="card-actions horizontal justified">
                [[name]]
            </div>
        </paper-card>

    </template>

    <script>

        class IOSenseDatapoint extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * Array of streams to show on this chart
                     */
                    stream: {
                        type: Object,
                        value: null,
                    },
                    timestamp: {
                        type: Number,
                        value: null,
                    },
                    value: {
                        type: String,
                        value: '',
                    },
                    icon: {
                        type: String,
                        value: '',
                    },
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
            }

            setStream(stream) {
                this.stream = stream;
                this.name = stream.name;

                this.updateValue();

                this.iosense.subscribe([stream], this);
            }

            updateValue() {
                const length = this.stream.dataPoints.length;
                if (length > 0) {
                    const value = this.stream.dataPoints[length-1].value;
                    if (value < -1000000000 || value > 1000000000) {
                        this.value = format(value / 1000000000) + 'G';
                    } else if (value < -1000000 || value > 1000000) {
                        this.value = format(value / 1000000) + 'M';
                    } else if (value < -1000 || value > 1000) {
                        this.value = Math.round(value / 1000) + 'K';
                    } else {
                        this.value = format(value) + '';
                    }
                } else {
                    this.value = '0';
                }
            }

            getId() {
                if (this.uuid === undefined) {
                    this.uuid = guid();
                }
                return this.uuid;
            }

            input(dataStream) {
                console.log(dataStream);
                const jsonStream = JSON.parse(dataStream);
                if (this.stream.id === jsonStream.id) {
                    if (this.stream.dataPoints === undefined) {
                        this.stream.dataPoints = [];
                    }
                    this.stream.dataPoints.concat(jsonStream.dataPoints);
                    this.updateValue();
                }
            }
        }

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                s4() + '-' + s4() + s4() + s4();
        }

        function format(value) {
            if (value >= 100) {
                value = Math.round(value);
            } else if (value > 10) {
                value = Math.round(value*10)/10;
            }
            let val = value.toFixed(2);
            if (val.endsWith('.00')) {
                val = value.toFixed(0);
            } else if (val.endsWith('0')) {
                val = value.toFixed(1);
            }
            return val;
        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseDatapoint.is, IOSenseDatapoint);

    </script>
</dom-module>
