<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="iosense-app-create">
    <template>

        <style include="shared-styles">

        </style>

        <h2>Create an Application</h2>

        <paper-input id="name" always-float-label label="Name *"></paper-input>
        <paper-input id="description" always-float-label label="Description"></paper-input>

        <paper-dropdown-menu label="Type">
            <paper-listbox id="type" slot="dropdown-content" selected="0" on-tap="selectType">
                <paper-item id="WebApp">Web Application</paper-item>
                <paper-item id="AndroidApp">Android App</paper-item>
                <paper-item id="PrototypedHardware">Prototyped Hardware</paper-item>
            </paper-listbox>
        </paper-dropdown-menu>

        <div id="webAppOptions" style="display:none">
            <paper-input id="uri" always-float-label label="Url" value=""></paper-input>
            <paper-input id="redirectUri" always-float-label label="Url Redirect" value=""></paper-input>
        </div>

        <paper-dropdown-menu label="Visibility">
            <paper-listbox id="visibility" slot="dropdown-content" selected="0" on-click="selectVisibility">
                <paper-item id="public">Public</paper-item>
                <paper-item id="private">Private</paper-item>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-input id="repository" always-float-label label="Repository" value=""></paper-input>
        <paper-button on-click="createApp" raised>
            Register a new Application
        </paper-button>

    </template>

    <script>

        class IOSenseAppCreate extends Polymer.Element {

            static get is() {
                return 'iosense-app-create';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
            }

            selectType(event) {
                if (event.target.id === 'WebApp') {
                    this.$.webAppOptions.style.display = 'block';
                } else {
                    this.$.webAppOptions.style.display = 'none';
                }
            }

            selectVisibility(event) {
                if (event.target.id === 'public') {
                    this.$.repository.style.display = 'block';
                } else {
                    this.$.repository.style.display = 'none';
                }
            }

            createApp() {
                let app = {
                    name: this.$.name.value,
                    description: this.$.description.value,
                    type: this.$.type._selection.selection[0].id,
                    visibility: this.$.visibility._selection.selection[0].id,
                    repository: this.$.repository.value,
                    uri: this.$.uri.value,
                    redirect_uri: this.$.redirectUri.value,
                };

                this.iosense.createApp(app, this.acknowledgeCreate.bind(this));
            }

            acknowledgeCreate(result) {
                this.app.showMessage(result.info);
                this.$.name.value = '';
                this.$.description.value = '';
                this.$.repository.value = '';
                this.$.uri.value = '';
                this.$.redirectUri.value = '';
            }

        }

        customElements.define(IOSenseAppCreate.is, IOSenseAppCreate);

    </script>
</dom-module>
