<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="iosense-thing-list">
    <template>

        <style is="custom-style">
            .thing:hover {
                background-color: #EFEFEF;
            }
        </style>

        <div id="thingList">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                <template is="dom-repeat" items="[[things]]" as="thing">
                    <tr class="thing">
                        <td>[[thing.id]]</td>
                        <td>[[thing.name]]</td>
                        <td>[[thing.description]]</td>
                        <td>
                            <!--<paper-icon-button id="[[thing.id]]"-->
                                               <!--icon="delete"-->
                                               <!--on-tap="deleteThing"></paper-icon-button>-->
                        </td>
                    </tr>
                </template>
            </table>
        </div>

    </template>

    <script>

        class IOSenseThingList extends Polymer.Element {

            static get is() {
                return 'iosense-thing-list';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listThings(this.receiveThings.bind(this));
            }

            receiveThings(result) {
                this.things = result.things;
            }

            acknowledgeDelete(result) {
                this.iosense.listThings(this.receiveThings.bind(this));
                this.$.name.value = '';
                this.$.description.value = '';
                this.$.type.value = '';
                this.$.appSelectorMenu.style.display = 'none';
                this.app.showMessage(result.info);
            }

            deleteThing(event) {
                this.iosense.deleteThing(event.target.id,
                    this.acknowledgeDelete.bind(this));
            }

        }

        customElements.define(IOSenseThingList.is, IOSenseThingList);

    </script>
</dom-module>
