<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="iosense-thing-create">
    <template>

        <style is="custom-style">
            paper-input {
                max-width: 400px;
                margin: auto;
            }

            iron-icon, div[suffix] {
                color: hsl(0, 0%, 50%);
                margin-right: 12px;
            }

            paper-dropdown-menu, paper-listbox {
                width: 250px;
            }

            paper-dropdown-menu {
                margin: auto;
                display: block;
            }
        </style>

        <p>
            Web or Smartphone applications should create and manage things for you. However, for smaller hardware,
            developers can choose to skip the creation of things/streams as well as the generation of an access token.
            In this case, you can create the things and streams manually with the followings form. If your application
            need to embed the access token, tick the box 'Generate access token' and select your application in the
            dropdown list that appears (an access token is linked to an application). You will need to inform the id of
            each thing and stream as well as the generated access token in your application. Note: If you already
            have an access token for this application you can use it, only one pair user/application is required.
        </p>

        <div id="newThingForm">
            <paper-input id="name" always-float-label label="Name"></paper-input>
            <paper-input id="description" always-float-label label="Description"></paper-input>
            <paper-input id="type" always-float-label label="Type"></paper-input>

            <paper-checkbox id="generateToken"
                            label="Generate access token"
                            on-click="generateTokenCheck">Generate
                access token
            </paper-checkbox>

            <br>

            <div id="infoGenerateToken" style="display:none">
                <paper-dropdown-menu id="appSelectorMenu" label="App">
                    <paper-listbox id="appSelector" slot="dropdown-content" selected="0">
                        <template is="dom-repeat" items="[[apps]]" as="app">
                            <paper-item id="[[app.id]]">
                                [[app.name]] ([[app.type]])<br>
                                by @[[app.developer.username]]
                            </paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-input id="password" always-float-labe
                             label="Confirm your password"
                             type="password"></paper-input>
            </div>


            <paper-button on-tap="createThing" raised>
                Create thing
            </paper-button>
        </div>

        <div>
            <h3>Add stream to the new thing</h3>

            <div id="streamsToAddOverview" style="display:none">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Monitored</th>
                        <th></th>
                    </tr>
                    <template is="dom-repeat" items="[[streamsToAdd]]" as="stream">
                        <tr>
                            <td>[[stream.name]]</td>
                            <td>[[stream.description]]</td>
                            <td>[[stream.typeId]]</td>
                            <td>
                                <paper-toggle-button checked="[[stream.monitored]]" disabled></paper-toggle-button>
                            </td>
                            <td>
                                <paper-icon-button id="[[stream.name]]"
                                                   icon="delete"
                                                   on-tap="deleteStreamToAdd"></paper-icon-button>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>

            <div id="addStreamForm">
                <paper-input id="streamName" always-float-label label="Name *"></paper-input>
                <paper-input id="streamDescription" always-float-label label="Description" value=""></paper-input>
                <paper-toggle-button id="streamIsMonitored" checked></paper-toggle-button>
                <paper-dropdown-menu label="Type">
                    <paper-listbox id="streamTypeSelector" slot="dropdown-content" selected="0">
                        <template is="dom-repeat" items="[[types]]" as="type">
                            <paper-item id="[[type.id]]">[[type.name]] ([[type.group]] / [[type.category]])</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-button on-tap="addStream" raised>Add stream</paper-button>
            </div>
        </div>


    </template>

    <script>

        class IOSenseThingCreate extends Polymer.Element {

            static get is() {
                return 'iosense-thing-create';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.iosense.listTypes(this.receiveTypeList.bind(this));
                this.streamsToAdd = [];
            }

            receiveTypeList(result) {
                this.types = result.types;
            }

            receiveAppList(result) {
                this.apps = result.apps;
                this.$.appSelectorMenu.style.display = 'block';
            }

            generateTokenCheck() {
                if (!this.$.generateToken.checked) {
                    this.iosense.listApps(this.receiveAppList.bind(this));
                    this.$.infoGenerateToken.style.display = 'block';
                } else {
                    this.$.infoGenerateToken.style.display = 'none';
                }
            }

            addStream() {
                const stream = {
                    name: this.$.streamName.value,
                    description: this.$.streamDescription.value,
                    typeId: this.$.streamTypeSelector._selection.selection[0].id,
                    monitored: this.$.streamIsMonitored.checked,
                };
                this.push('streamsToAdd', stream);
                this.$.streamsToAddOverview.style.display = 'block';
            }

            deleteStreamToAdd(event) {
                let streamsToAdd = [];
                this.streamsToAdd.forEach(function(stream) {
                    if (stream.name !== event.target.id) {
                        streamsToAdd.push(stream);
                    }
                });
                this.streamsToAdd = streamsToAdd;
            }

            createThing() {
                let thing = {
                    name: this.$.name.value,
                    description: this.$.description.value,
                    type: this.$.type.value,
                    streams: this.streamsToAdd,
                };


                let app = null;
                if (this.$.generateToken.checked) {
                    const id = this.$.appSelector._selection.selection[0].id;
                    for (let i = 0; i < this.apps.length; i++) {
                        if (this.apps[i].id === id) {
                            app = this.apps[i];
                        }
                    }
                }
                let password = null;
                if (this.$.password.value !== '') {
                    password = this.$.password.value;
                }
                this.iosense.createThing(thing, app, password,
                    this.acknowledgeCreate.bind(this));
            }

            acknowledgeCreate(result) {
                this.$.name.value = '';
                this.$.description.value = '';
                this.$.type.value = '';
                this.$.appSelectorMenu.style.display = 'none';
                this.app.showMessage(result.info);
            }

        }

        customElements.define(IOSenseThingCreate.is, IOSenseThingCreate);

    </script>
</dom-module>
