<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import"
      href="../../bower_components/range-datepicker/range-datepicker.html">
<link rel="import"
      href="../../bower_components/se-time-input/se-time-input.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import"
      href="../../bower_components/google-map/google-map-poly.html">
<link rel="import"
      href="../../bower_components/google-map/google-map-point.html">
<script src="https://d3js.org/d3.v4.min.js"></script>

<dom-module id="iosense-datapoint-map">
    <template>

        <paper-card id="card"
                    alt="[[group.name]]"
                    class="white"
                    style="margin-bottom:10px; margin-right:10px; width: 30%; min-width: 300px; height: 300px">

            <google-map id="map" api-key="AIzaSyCzqeBwCR0sRZd40-DDDlCt8YQGC1Yv8k0">
                <google-map-poly id="poly" fill-color="blue" fill-opacity=".5">
                </google-map-poly>
            </google-map>

            <!-- Bottom Controls -->
            <div class="card-actions horizontal justified">
                [[name]]

                <!-- Permanent control -->
                <paper-icon-button id="expend"
                                   icon="fullscreen"
                                   on-tap="expend">
                </paper-icon-button>
                <paper-icon-button id="info"
                                   icon="info">
                </paper-icon-button>

                <span id="export-control">
                    <paper-icon-button id="export-csv"
                                       icon="cloud-download"
                                       on-tap="exportCSV">
                    </paper-icon-button>
                    <paper-icon-button id="export-svg"
                                       icon="image:photo-library"
                                       on-tap="exportSVG">
                    </paper-icon-button>
                </span>

                <!-- Time controls, only shown when expended -->
                <span id="timeControl" style="float:right;display:none">
                    <paper-icon-button id="backward"
                                       icon="chevron-left"
                                       on-tap="shiftBackward">
                    </paper-icon-button>
                    <paper-icon-button id="forward"
                                       icon="chevron-right"
                                       on-tap="shiftForward">
                    </paper-icon-button>
                    <paper-icon-button id="zoomin"
                                       icon="zoom-in"
                                       on-tap="zoomIn">
                    </paper-icon-button>
                    <paper-icon-button id="zoomout"
                                       icon="zoom-out"
                                       on-tap="zoomOut">
                    </paper-icon-button>
                    <paper-icon-button id="play"
                                       icon="av:play-arrow"
                                       on-tap="getRealTimeData">
                    </paper-icon-button>
                    <paper-icon-button id="date"
                                       icon="date-range"
                                       on-tap="pickDate">
                    </paper-icon-button>

                    <paper-dialog id="datePickerDialog">
                        <h2>Select Date & Time</h2>
                        <div>Date from : [[dateFrom]]</div>
                        <div>Date to : [[dateTo]]</div>
                        <div>
                            <se-time-input placeholder="From"
                                           value="00:00"></se-time-input>
                            <se-time-input placeholder="To"
                                           value="00:00"></se-time-input>
                        </div>
                        <range-datepicker date-from="{{dateFrom}}"
                                          date-to="{{dateTo}}"></range-datepicker>
                        <div class="buttons">
                            <paper-button dialog-dismiss>Cancel</paper-button>
                            <paper-button dialog-confirm autofocus
                                          on-tap="selectDateRange">OK</paper-button>
                        </div>
                    </paper-dialog>
                </span>
            </div>
        </paper-card>

    </template>

    <script>

        class IOSenseDatapointMap extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint-map';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * Array of streams to show on this chart
                     */
                    dataStreams: {
                        type: Array,
                        value: [],
                    },
                    /**
                     * The data to display, ready to be pushed into the chart
                     */
                    rowsToDraw: {
                        type: Array,
                        value: [],
                    },
                    /**
                     * UNIX timestamp of the last data point
                     */
                    lastTS: {
                        type: Number,
                        value: 0,
                    },
                    /**
                     * Last value of each stream
                     */
                    lastVal: {
                        type: Object,
                        value: {},
                    },
                    /**
                     * Minimum refreshing time (milliseconds).
                     * We can received data at any frequency, but we avoid refreshing
                     * the chart if the time between two data points is two short.
                     */
                    refreshFreq: {
                        type: Number,
                        value: 1000,
                    },
                    /**
                     * The window of time to show (in milliseconds).
                     * All data points older than this time frame are
                     * deleted.
                     */
                    horizon: {
                        type: Number,
                        value: 300000,
                    },

                    startTS: {
                        type: Number,
                        value: null,
                    },
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();

                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                if (this.dataStreams !== null && this.dataStreams.length > 0) {
                    this.setStreams();
                }
            }

            setStreams() {
//                this.horizon = this.dataStreams[0].type.defaultTimeWindow;
                this.horizon = 86400000;
                this.startTS = new Date().getTime() - this.horizon;
                this.streamIds = [];
                this.streamMap = {};
                this.dataStreams.forEach((stream) => {
                    this.streamIds.push(stream.id);
                    this.streamMap[stream.id] = stream;
                });
                this.loadData();
            }

            loadData() {
                this.iosense.getDataStreamsHistory(this.streamIds,
                    this.startTS, this.horizon,
                    this.receiveDataPoints.bind(this));
            }

            receiveDataPoints(result) {
                let latStream = null;
                let lonStream = null;
                result.dataStreams.forEach((dataStream) => {
                    if (dataStream.type.id === 'LATITUDE') {
                        latStream = dataStream;
                    } else if (dataStream.type.id === 'LONGITUDE') {
                        lonStream = dataStream;
                    }
                });
                if (latStream !== null && lonStream !== null) {
                    this.combine(latStream, lonStream);
                }
            }

            combine(latStream, lonStream) {
                const points = {};
                let startPoint = null;
                latStream.dataPoints.forEach((dp) => {
                    points[dp.timestamp] = {
                        timestamp: dp.timestamp,
                        latitude: dp.value,
                    };
                });
                lonStream.dataPoints.forEach((dp) => {
                    if (points[dp.timestamp] !== null) {
                        points[dp.timestamp].longitude = dp.value;
                        if (startPoint === null) {
                            startPoint = points[dp.timestamp];
                        }
                    }
                });
                for (let ts in points) {
                    if (points.hasOwnProperty(ts)) {
                        const el = document.createElement('google-map-point');
                        el.latitude = points[ts].latitude;
                        el.longitude = points[ts].longitude;
                        this.$.poly.appendChild(el);
                    }
                }
                this.$.map.longitude = startPoint.longitude;
                this.$.map.latitude = startPoint.latitude;
            }

            shiftBackward() {
                this.startTS = this.startTS - this.horizon;
                this.loadData();
            }

            shiftForward() {
                this.startTS = this.startTS + this.horizon;
                this.loadData();
            }

            zoomIn() {
                this.horizon = this.horizon / 2;
                this.startTS = this.startTS + this.horizon;
                this.loadData();
            }

            zoomOut() {
                const halfHorizon = this.horizon / 2;
                this.horizon = this.horizon * 2;
                this.startTS = this.startTS - halfHorizon;
                this.loadData();
            }

            pickDate() {
                this.$.datePickerDialog.open();
            }

            selectDateRange() {
                this.startTS = this.dateFrom * 1000;
                this.horizon = (this.dateTo * 1000) - this.startTS;
                this.loadData();
            }

            getStreamIds() {
                const streamIds = [];
                this.dataStreams.forEach(function(stream) {
                    streamIds.push(stream.id);
                });
                return streamIds;
            }

            exportCSV(event) {
                let csv = 'UNIX Timestamp';
                this.dataStreams.forEach(function(stream) {
                    csv += ',' + stream.name;
                });
                csv += '\n';
                this.datapointsToTable().forEach(function(row) {
                    csv += row[0].getTime();
                    for (let i = 1; i < row.length; i++) {
                        csv += ',' + row[i];
                    }
                    csv += '\n';
                });

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(csv));
                element.setAttribute('download', 'iosense_export.csv');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

            datapointsToTable() {
                let rows = [];
                let streams = this.dataStreams;
                let lastTS = this.startTS;
                let currentRow = new Array(streams.length + 1);
                currentRow[0] = new Date(this.startTS);
                this.dataPoints.forEach((dp) => {
                    if (dp.ts > lastTS) {
                        let currentDate = new Date(dp.ts);
                        if (currentRow !== undefined) {
                            rows.push(currentRow);
                        }
                        currentRow = new Array(streams.length + 1);
                        currentRow[0] = currentDate;
                    }
                    for (let i = 0; i < streams.length; i++) {
                        if (streams[i].id === dp.streamId) {
                            currentRow[i + 1] = dp.val;
                        }
                    }
                    lastTS = dp.ts;
                });
                rows.push(currentRow);
                return rows;
            }

            expend(event) {
                let card = this.$.card;
                let currentSize = card.style.width;
                if (currentSize === '30%') {
                    card.style.width = '100%';
                    this.$.timeControl.style.display = 'block';
                    this.$.expend.icon = 'fullscreen-exit';
                } else {
                    card.style.width = '30%';
                    this.$.timeControl.style.display = 'none';
                    this.$.expend.icon = 'fullscreen';
                }
                this.width = this.$.chart.clientWidth;
                this.svg.attr('width', this.width);
                this.initChart();
                this.drawChart();
            }

            exportSVG(event) {
                let svg = this.$.chart.innerHTML;

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(svg));
                element.setAttribute('download', this.name + '.svg');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseDatapointMap.is, IOSenseDatapointMap);

    </script>
</dom-module>
