<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="iosense-user-edit">
    <template>

        <style is="custom-style">
            paper-input {
                max-width: 400px;
                margin: auto;
            }

            iron-icon, div[suffix] {
                color: hsl(0, 0%, 50%);
                margin-right: 12px;
            }
        </style>

        <paper-input id="username"
                     label="Username"
                     value="[[user.username]]"
                     always-float-label disabled></paper-input>
        <paper-input id="firstName"
                     label="First name"
                     value="[[user.firstName]]"
                     always-float-label></paper-input>
        <paper-input id="lastName"
                     label="Last Name"
                     value="[[user.lastName]]"
                     always-float-label></paper-input>
        <paper-input id="email"
                     label="Email"
                     value="[[user.email]]"
                     always-float-label></paper-input>
        <paper-button on-click="saveChange"
                      raised>Save changes</paper-button>

    </template>

    <script>

        class IOSenseUserEdit extends Polymer.Element {

            static get is() {
                return 'iosense-user-edit';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.iosense.getUser(this.receiveUser.bind(this));
            }

            receiveUser(result) {
                this.user = result.user;
            }

            saveChange() {
                const user = {
                    firstName: this.$.firstName,
                    lastName: this.$.lastName,
                    email: this.$.email,
                };
                this.iosense.updateUser(user, this.acknowledgeUpdate.bind(this));
            }

            acknowledgeUpdate(result) {
                if (result.success) {
                    this.app.showMessage(result.info);
                }
            }
        }

        customElements.define(IOSenseUserEdit.is, IOSenseUserEdit);

    </script>
</dom-module>
