<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import"
      href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import"
      href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import"
      href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import"
      href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import"
      href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import"
      href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="./iosense/io-sense.html">

<link rel="lazy-import" href="converse-home.html">
<link rel="lazy-import" href="converse-things.html">
<link rel="lazy-import" href="converse-donation.html">
<link rel="lazy-import" href="converse-developer.html">
<link rel="lazy-import" href="converse-interactions.html">
<link rel="lazy-import" href="converse-profile.html">
<link rel="lazy-import" href="converse-error404.html">

<dom-module id="converse-app">
    <template>
        <style>
            :host {
                --app-primary-color: #388e3c;
                --app-secondary-color: #ed6c0b;

                display: block;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }
        </style>

        <!-- app-location binds to the app's URL -->
        <app-location id="location"
                      route="{{route}}"
                      query-params="{{queryParams}}"></app-location>

        <!-- this app-route manages the top-level routes -->
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>


        <app-header-layout id="layout">
            <app-header fixed effects="waterfall" slot="header">
                <app-toolbar id="toolbar">
                    <paper-icon-button id="toggle" icon="menu"
                                       on-tap="toggleMenu"></paper-icon-button>
                    <div main-title>ioSense Converse</div>
                    <template is="dom-if" if="{{signedIn}}">
                        <paper-icon-button icon="close"
                                           on-tap="signOut"></paper-icon-button>
                    </template>
                </app-toolbar>
            </app-header>

            <app-drawer-layout id="drawerLayout">
                <app-drawer id="drawer" slot="drawer" style="margin-top: 50px;" opened="false">
                    <iron-selector selected="[[page]]"
                                   attr-for-selected="name"
                                   class="drawer-list"
                                   role="navigation">

                        <a name="home" href="[[rootPath]]home">Home</a>

                        <a name="donation"
                           href="[[rootPath]]donation">Donation</a>
                        <a name="developer" href="[[rootPath]]developer">Developer</a>


                        <template is="dom-if" if="{{signedIn}}">
                            <a name="things" href="[[rootPath]]things">My Things</a>
                            <a name="interactions" href="[[rootPath]]interactions">My Interactions</a>
                            <a name="profile"
                               href="[[rootPath]]profile">Profile</a>
                        </template>
                    </iron-selector>
                </app-drawer>

                <iron-pages
                        selected="[[page]]"
                        attr-for-selected="name"
                        fallback-selection="error404"
                        role="main">
                    <converse-home name="home"></converse-home>
                    <converse-things name="things"></converse-things>
                    <converse-interactions name="interactions"></converse-interactions>
                    <converse-donation name="donation"></converse-donation>
                    <converse-developer name="developer"></converse-developer>
                    <converse-profile name="profile"></converse-profile>
                    <converse-error404 name="error404"></converse-error404>
                </iron-pages>

            </app-drawer-layout>
        </app-header-layout>

        <paper-toast id="toast" duration="5000"></paper-toast>

    </template>

    <script>
        class IOSenseConverseApp extends Polymer.Element {
            static get is() {
                return 'converse-app';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: String,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                    iosense: {
                        type: Object,
                        value: null,
                    },
                    signedIn: {
                        type: Boolean,
                        value: false,
                    },
                    mode: {
                        type: String,
                        value: 'normal',
                    },
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');


                const display = this.$.location.queryParams.display;
                if (display !== undefined && display === 'presenter') {
                    this.$.toolbar.style.display = 'none';
                    this.$.layout.style.paddingTop = '50px';
                    this.toggleMenu();
                    this.mode = 'presenter';
                } else {
                    this.signedIn = this.iosense.connnected;
                    if (this.signedIn) {
                        this.$.drawer.open();
                    } else {
                        this.$.drawer.close();
                    }
                    this.iosense.addEventListener('iosense-signed-in', (e) => {
                        this.signedIn = true;
                        this.$.drawer.open();
                    });
                    this.iosense.addEventListener('iosense-signed-out', (e) => {
                        this.signedIn = false;
                        this.$.drawer.close();
                        this.page = 'home';
                    });
                }
            }

            toggleMenu() {
                if (this.$.drawerLayout.forceNarrow || !this.$.drawerLayout.narrow) {
                    this.$.drawerLayout.forceNarrow = !this.$.drawerLayout.forceNarrow;
                } else {
                    this.$.drawerLayout.drawer.toggle();
                }
            }

            signOut() {
                this.iosense.signOut();
            }

            showError(error) {
                this.$.toast.show(error);
            }

            showMessage(error) {
                this.$.toast.show(error);
            }

            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'home' in that case.
                this.page = page || 'home';
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                let resolvedPageUrl = this.resolveUrl('converse-' + page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'error404';
            }
        }

        window.customElements.define(IOSenseConverseApp.is, IOSenseConverseApp);
    </script>
</dom-module>
