<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="./iosense/iosense-user-edit.html">
<link rel="import" href="iosense/iosense-thing-list.html">
<link rel="import" href="iosense/iosense-thing-create.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-profile">

    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <div class="card">

            <h2>My Account</h2>

            <iosense-user-edit></iosense-user-edit>

        </div>

        <div class="card">

            <h2>My Things</h2>

            <iosense-source-list></iosense-source-list>

            <h2>Create a Thing</h2>

            <iosense-source-create></iosense-source-create>

        </div>

    </template>

    <script>
        class ConverseProfile extends Polymer.Element {
            static get is() {
                return 'converse-profile';
            }
        }

        window.customElements.define(
            ConverseProfile.is, ConverseProfile);
    </script>
</dom-module>
