<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-interactions">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <h1>My Interactions</h1>

        <template is="dom-bind">
            <x-data-provider data-provider="{{dataProvider}}"></x-data-provider>

            <vaadin-grid data-provider="[[dataProvider]]" size="200">

                <vaadin-grid-column width="50px" flex-grow="0">
                    <template class="header">#</template>
                    <template>[[index]]</template>
                </vaadin-grid-column>

                <vaadin-grid-column width="50px" flex-grow="0">
                    <template class="header"></template>
                    <template>
                        <iron-image src="[[item.picture.thumbnail]]"></iron-image>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="calc(50% - 100px)">
                    <template class="header">First Name</template>
                    <template>[[item.name.first]]</template>
                </vaadin-grid-column>

                <vaadin-grid-column width="calc(50% - 100px)">
                    <template class="header">Last Name</template>
                    <template>[[item.name.last]]</template>
                </vaadin-grid-column>

            </vaadin-grid>
        </template>

    </template>

    <script>
        class ConverseInteractions extends Polymer.Element {
            static get is() {
                return 'converse-interactions';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    interactions: {
                        type: Array,
                        value: [],
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listInteractions(
                    this.receiveInteractions.bind(this));
            }

            receiveInteractions(result) {
                this.things = [];
                result.things.forEach((thing) => {
                    this.iosense.getThing(thing.id,
                        this.receiveThing.bind(this));
                });
            }
        }

        window.customElements.define(
            ConverseInteractions.is, ConverseInteractions);
    </script>
</dom-module>
