<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-interactions">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <h1>Explore</h1>

        <paper-dropdown-menu label="Persons">
            <paper-listbox id="users" slot="dropdown-content">
                <paper-item id="*">All</paper-item>
                <template is="dom-repeat" items="[[users]]" as="user">
                    <paper-item id="user-[[user.id]]">
                        [[user.username]]
                    </paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu label="Data Streams">
            <paper-listbox id="dataStreamList" slot="dropdown-content">
                <template is="dom-repeat" items="[[dataStreams]]"
                          as="dataStream">
                    <paper-item id="dataStream-[[dataStream.id]]">
                        [[dataStream.name]]
                    </paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu label="Group By">
            <paper-listbox id="groupByList" slot="dropdown-content">
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu label="Function">
            <paper-listbox id="functionList" slot="dropdown-content">
            </paper-listbox>
        </paper-dropdown-menu>

        <paper-dialog id="datePickerDialog">
            <h2>Select Date & Time</h2>
            <div>Date from : [[dateFrom]]</div>
            <div>Date to : [[dateTo]]</div>
            <div>
                <se-time-input placeholder="From" value="00:00"></se-time-input>
                <se-time-input placeholder="To" value="00:00"></se-time-input>
            </div>
            <range-datepicker date-from="{{dateFrom}}"
                              date-to="{{dateTo}}"></range-datepicker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus on-tap="selectDateRange">
                    OK
                </paper-button>
            </div>
        </paper-dialog>

        <script>
            class ConverseInteractions extends Polymer.Element {
                static get is() {
                    return 'converse-interactions';
                }

                /**
                 * Properties of this class, element's public API.
                 */
                static get properties() {
                    return {
                        selectedUsers: {
                            type: Array,
                            value: [],
                        },
                        selectedDataStreamTypes: {
                            type: Array,
                            value: [],
                        },
                    };
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.iosense = document.querySelector('#iosense');
                    this.iosense.listUsers(
                        this.receiveInteractions.bind(this));
                }

                receiveUsers(result) {
                    this.users = result.users;
                }

                selectUsers() {
                    this.iosense.getUserDataStream(user.id,
                        this.receiveThing.bind(this));
                }

            }

            window.customElements.define(
                ConverseInteractions.is, ConverseInteractions);
        </script>
</dom-module>
