<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./iosense/iosense-app-list.html">
<link rel="import" href="./iosense/iosense-app-create.html">
<link rel="import" href="./iosense/iosense-api.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-developer">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <h1>Developer</h1>

        <div class="card">

            <iosense-app-list></iosense-app-list>
            <iosense-app-create></iosense-app-create>

            <h2>ioSense API</h2>

            <template is="dom-repeat" items="[[routes]]" as="route">
                <h3>[[route.name]]</h3>
                <template is="dom-repeat" items="[[route.apis]]" as="api">
                    <iosense-api details="[[api]]"></iosense-api>
                </template>
            </template>
        </div>

    </template>

    <script>
        class ConverseDeveloper extends Polymer.Element {

            static get is() {
                return 'converse-developer';
            }

            /**
             * Called automatically when a web component is loaded
             */
            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.iosense.listAPIs(this.receiveAPIs.bind(this));
            }

            receiveAPIs(result) {
                this.routes = result.routes;
            }
        }

        window.customElements.define(
            ConverseDeveloper.is, ConverseDeveloper);
    </script>
</dom-module>
