<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="./iosense/iosense-stream-list.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-donation">

    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            paper-checkbox.green {
                align-self: center;
                border: 1px solid var(--paper-green-200);
                padding: 8px 16px;

                --paper-checkbox-checked-color: var(--paper-green-500);
                --paper-checkbox-checked-ink-color: var(--paper-green-500);
                --paper-checkbox-unchecked-color: var(--paper-green-900);
                --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
                --paper-checkbox-label-color: var(--paper-green-500);
                --paper-checkbox-label-spacing: 0;
                --paper-checkbox-margin: 8px 16px 8px 0;
                --paper-checkbox-vertical-align: top;
            }

            paper-checkbox .subtitle {
                display: block;
                font-size: 0.8em;
                margin-top: 2px;
                max-width: 150px;
            }
        </style>

        <div class="card">

            <paper-checkbox style="position: absolute; top: 50px; right: 50px" checked class="green">
                I donate
                <span class="subtitle">
                    My data for teaching and research.
                </span>
            </paper-checkbox>

            <h1 style="margin-bottom: 40px">
                Data Donation
            </h1>

            <p style="max-width: 700px">
                <b>ioSense</b> is a crowd platform relying on open data. Any data pushed to ioSense is
                offered to the ioSense community the be shared openly for research and teaching
                purposes. By pushing data to ioSense, you attest you have the authority to open
                these data.
            </p>

            <p style="max-width: 700px">
                We are conscious there are always exceptions, moments in life when we would rather
                not to share some of our data streams. To this end, you can enable / disable some
                of your stream by controlling the switches below.
            </p>

            <iosense-stream-list></iosense-stream-list>

        </div>

    </template>

    <script>
        class ConverseDonation extends Polymer.Element {
            static get is() {
                return 'converse-donation';
            }
        }

        window.customElements.define(
            ConverseDonation.is, ConverseDonation);
    </script>
</dom-module>
