<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./iosense/iosense-user-login.html">
<link rel="import" href="./iosense/iosense-datapoint.html">
<link rel="import" href="./iosense/iosense-datapoint-barchart.html">
<link rel="import" href="../bower_components/the-grid/the-grid.html">
<link rel="import" href="../bower_components/the-grid/demo/grid-styles.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module id="converse-home">
    <template>

        <custom-style>
            <style is="custom-style" include="grid-styles">

                debug-grid {
                    left: 44px;
                }

                .resize-handle {
                    display: none;
                }
            </style>
        </custom-style>


        <div style="width:1330px;margin-left: auto;margin-right: auto;">

            <the-grid col-count="12" row-count="9"
                      cell-height="90" cell-width="100" cell-margin="10">

                <div id="logo" class="tile" col="0" row="0" height="3"
                     width="2">
                    <img src="../images/iosense-logo-512.png"
                         style="width: 100%; padding-top: 30px">
                </div>

                <div id="intro" class="tile" col="2" row="0" height="3"
                     width="4">
                    <h1>
                        IoT Data Platform for Designers
                    </h1>
                    <p>
                        ioSense is an initiative from the IoT Research Labs of
                        the design faculty at TU Delft. It aims to explore the
                        potential of IoT and data technologies in the hand of
                        designers to support the design of tomorrow's products
                        and services.
                    </p>
                </div>

                <div id="signInForm" class="tile" col="6" row="0" height="3"
                     width="6">
                    <paper-card
                            style="padding:0px  10px 10px;position: absolute;left:10px;right:10px;top:12px;bottom:15px;">
                        <iosense-user-login></iosense-user-login>
                    </paper-card>
                </div>

                <div id="about" class="tile" col="6" row="0" height="3"
                     width="6"
                     style="padding:20px;display: none">
                    <h2>
                        For more information, please get in touch with us!
                    </h2>

                    <h3>IoT Research Lab</h3>

                    <p>
                        <b>Prof. Gerd Kortuem</b> -- G.W.Kortuem@tudelft.nl<br>
                        <b>Jacky Bourgeois</b> -- J.Bourgeois@tudelft.nl
                    </p>

                    <p>
                        Last Update:<br>
                        <span style="color: #388e3c;font-size: large;font-weight: bold">[[lastUpdate]]</span>
                    </p>
                </div>

                <div class="tile" col="0" row="3" height="3" width="2">
                    <iosense-datapoint id="user"
                                       style="margin: 20px"
                                       icon="account-circle"></iosense-datapoint>
                </div>
                <div class="tile" col="2" row="3" height="3" width="2">
                    <iosense-datapoint id="thing"
                                       icon="extension"></iosense-datapoint>
                </div>

                <div class="tile" col="4" row="3" height="3" width="2">
                    <iosense-datapoint id="dataStream"
                                       icon="assessment"></iosense-datapoint>
                </div>

                <div class="tile" col="0" row="6" height="3" width="2">
                    <iosense-datapoint id="interaction"
                                       icon="social:share"></iosense-datapoint>
                </div>

                <div class="tile" col="2" row="6" height="3" width="4">
                    <iosense-datapoint-barchart id="dataPointBarChart">
                    </iosense-datapoint-barchart>
                </div>

                <div class="tile" col="6" row="3" height="6" width="6">
                    <paper-card
                            style="padding:20px;position: absolute;left:10px;right:10px;top:12px;bottom:15px;text-align: center">
                        <img id="currentPic" src="../images/iosense-cloud.png">
                    </paper-card>
                </div>
                <div placeholder></div>
            </the-grid>
        </div>


    </template>

    <script>
        /* eslint-disable no-console */

        /**
         * Converse Home, the front end of ioSense.
         */
        class ConverseHome extends Polymer.Element {
            static get is() {
                return 'converse-home';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    signedIn: {
                        type: Boolean,
                        value: false,
                    },
                    indexSlide: {
                        type: Number,
                        value: 0,
                    },
                    lastUpdate: {
                        type: String,
                        value: moment(new Date().getTime())
                            .format('MMM Do YYYY, HH:mm'),
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.iosense.getDataStreams([1, 2, 3, 4, 5, 6],
                    this.receiveStreams.bind(this));

                if (this.app.mode === 'presenter') {
                    this.$.signInForm.style.display = 'none';
                    this.$.about.style.display = 'block';
                }

                if (this.iosense.connected) {
                    this.$.signInForm.style.display = 'none';
                }

                this.iosense.addEventListener('iosense-signed-in', (e) => {
                    console.log('event signed in!!');
                    this.$.signInForm.style.display = 'none';
                });
                this.iosense.addEventListener('iosense-signed-out', (e) => {
                    this.$.signInForm.style.display = 'block';
                });
            }

            receiveStreams(result) {
                result.dataStreams.forEach((stream) => {
                    if (stream.id === 1) {
                        this.$.user.setStream(stream);
                    } else if (stream.id === 2) {
                        this.$.thing.setStream(stream);
                    } else if (stream.id === 3) {
                        this.$.dataStream.setStream(stream);
                    } else if (stream.id === 4) {
                        this.$.dataPointBarChart.setStream(stream);
                    } else if (stream.id === 6) {
                        this.$.interaction.setStream(stream);
                    }
                });
            }
        }

        window.customElements.define(ConverseHome.is, ConverseHome);
    </script>
</dom-module>
