<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="iosense/iosense-datapoint-line.html">
<link rel="import" href="iosense/iosense-datapoint-map.html">
<link rel="import" href="iosense/iosense-datapoint-barchart.html">
<link rel="import" href="iosense/iosense-datapoint-timeline.html">
<link rel="import" href="shared-styles.html">

<dom-module id="converse-things">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <h1>
            My Data Streams
        </h1>

        <div id="test">

        </div>

        <div style="width:1330px;margin-left: auto;margin-right: auto;">
            <the-grid id="grid" draggable resizable animated
                      col-count="12" row-count="9"
                      cell-height="90" cell-width="100" cell-margin="10">

            </the-grid>
        </div>
    </template>

    <script>
        class ConverseThings extends Polymer.Element {

            static get is() {
                return 'converse-things';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    things: {
                        type: Array,
                        value: [],
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listThings(this.receiveThingList.bind(this));
            }

            receiveThingList(result) {
                this.things = [];
                result.things.forEach((thing) => {
                    this.iosense.getThing(thing.id,
                        this.receiveThing.bind(this));
                });
            }

            receiveThing(result) {
                this.push('things', result.thing);
                this.streamsToGroups();
                let count = 0;
                this.things.forEach((thing) => {
                    for (let id in thing.dataStreamGroups) {
                        if (thing.dataStreamGroups.hasOwnProperty(id)) {
                            const group = thing.dataStreamGroups[id];
                            const el = document.createElement('iosense-datapoint-'
                                + group.dataStreams[0].type.defaultVisualisation);
                            el.name = group.name;
                            el.dataStreams = group.dataStreams;
                            el.col = 0;
                            el.row = count;
                            el.height = 4;
                            el.width = 2;
                            this.$.test.appendChild(el);
                            count++;
                        }
                    }
                });
            }

            streamsToGroups() {
                // go through each thing and each stream
                this.things.forEach((thing) => {
                    // prepare a map of group => [stream, stream ...]
                    let streamGroupMap = {};
                    thing.dataStreams.forEach((dataStream) => {
                        // if unknown group, add to the map
                        if (!streamGroupMap.hasOwnProperty(dataStream.type.group)) {
                            streamGroupMap[dataStream.type.group] = {
                                name: thing.name + ' # ' + dataStream.type.group,
                                dataStreams: [],
                            };
                        }
                        // In any case, add the stream to the group
                        streamGroupMap[dataStream.type.group].dataStreams.push(dataStream);
                    });
                    // transform the map into an array and add the array to the thing
                    thing.dataStreamGroups = Object.keys(streamGroupMap)
                        .map((key) => streamGroupMap[key]);
                });
            }

        }

        window.customElements.define(ConverseThings.is, ConverseThings);
    </script>
</dom-module>
