<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
    <template>
        <style>
            h1 {
                margin: 16px 0;
                color: #212121;
                font-size: 22px;
            }

            paper-input {
                max-width: 400px;
                margin: auto;
            }

            paper-dropdown-menu, paper-listbox {
                width: 250px;
            }
            paper-dropdown-menu {
                margin: auto;
                display: block;
            }

            paper-toggle-button {
                --paper-toggle-button-checked-bar-color:  var(--paper-green-500);
                --paper-toggle-button-checked-button-color:  var(--paper-green-500);
                --paper-toggle-button-checked-ink-color: var(--paper-green-500);
                --paper-toggle-button-unchecked-bar-color:  var(--paper-teal-500);
                margin-top:5px;
                margin-bottom:5px;
            }
        </style>
    </template>
</dom-module>
